
.contentN {
    text-align: center;
    list-style: none;
    width: 114px;
    border: solid 1px #000;
    margin: 0;
}
.List {
  width: 160px;
}
.scroll-area {
  height: 200px;
  width: 173px;
  overflow: auto;
}
.contentNSelected {
  text-align: center;
  list-style: none;
  width: 114px;
  border: solid 1px #000;
  margin: 0;
  background-color: #000;
  font-size: 120%;
  color: #fff;
}
.tasklist {
  float: left;
}
.selectedOne {

}
